
<h1>Your Feed</h1>
<hr>
<div class="row">
  <div class="span5">
    <ul class="post-feed">
      {{#each posts}}
      <li class="post">
        <img class="img-circle" src="{{ user.image }}">
        <div class="post-content">
          <p><b>{{ user.name }}</b></p>
          <p>{{ body }}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="span3">
    <div class="user-profile well">
      <p class="lead">{{ user.name }}</p>
      <p><b>@{{ user.username }}</b></p>
      <img class="user-image img-circle" src="{{ user.image }}" alt="">
    </div>
    {{#if formError }}
    <p class="alert alert-error">{{{ formError }}}</p>
    {{/if}}
    <form action="" method="post" accept-charset="utf-8">
      <p>Write a new post:</p>
      <textarea name="postBody"></textarea>
      <input class="btn btn-primary" type="submit" name="" value="Submit">
    </form> 
  </div>
</div>
