<h1>Users</h1><hr>
<ul class="user-list">
  {{#each users}}
  <li class="user well" data-id="{{ id }}">
    <img class="img-circle" src="{{ image }}" alt="">
    <p class="lead">{{ name }}</p>
    <p><b>@{{ username }}</b></p>
    <a href="javascript:followUser('{{id}}');" class="btn btn-block btn-primary btn-small"><i class="icon-plus icon-white"></i>&nbsp; Follow</a>
  </li>
  {{/each}}
</ul>
